<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default}">
<head>
    <title>Strona główna</title>
</head>
<body>
<div layout:fragment="content">
    <div class="container">
        <h2>Zaloguj się</h2>

        <form th:action="@{/login}" th:object="${loginForm}" method="post">
            <div class="form-group row">
                <label for="emailInput" class="col-3 col-form-label">E-mail</label>
                <div class="col-5">
                    <input type="email" class="form-control" id="emailInput" placeholder="E-mail">
                </div>
            </div>
            <div class="form-group row">
                <label for="passwordInput" class="col-3 col-form-label">Password</label>
                <div class="col-5">
                    <input type="password" class="form-control" id="passwordInput" placeholder="Password">
                </div>
            </div>
            <button class="btn btn-primary" type="submit">Zaloguj się</button>
        </form>
    </div>
</div>
</body>
</html>
